.is_selected {
	background-color: [SELECTED_BACKGROUND];
	color: #FFFFFF;
}

.is_selected a {
	color: #FFFFFF;
}

.is_selected .post_archived_links {
	color: #FFFFFF;
}

.is_pressed {
	background-color: [PRESSED_BACKGROUND];
}

.is_selected.is_pressed {
	background-color: [SELECTED_BACKGROUND];
}

.container.blur .is_selected {
	background-color: [UNFOCUSED_BACKGROUND];
	color: [UNFOCUSED_TEXT];
}

.container.blur .is_selected a {
	color: [UNFOCUSED_TEXT];
}

.more_container a {
	border-radius: 8px;
	box-shadow: 0px 0.5px 0.5px rgb(0 0 0 / 15%);
	width: 120px;
	border: 0.5px solid lightgray;
	color: #151515;
}

.more_container a:hover {
	cursor: default;
}

@media (prefers-color-scheme: dark) {
	.more_container a {
		background-color: #61676a;
		border: 0.5px solid #61676a;
		color: #FFFFFF;
	}
	
	.more_container a:active {
		background-color: #80878b;
		border: 0.5px solid #80878b;
	}
}
